<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
       
        <nav>  
        <a href=/index.ejs>
        <img href="/index.ejs" class="logo" src="img/AquaTrip.png"></a>
        </nav>
        <form class="search-box" action="/index" method="get">
        <input type="search" name="q" placeholder="Digite sua busca..." required>
        <button type="submit">Buscar</button>
        </form>
    </header>