body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #EEEEEE;
}
 
header {
    background-color: #192E86;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    height: 80px;
}
 
header h1 {
    font-size: 24px;
    color: #fff;
}
 
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
 
nav li {
            display: flex;
            justify-content: right; /* Centers horizontally */
            align-items: right;    /* Centers vertically */
        }

nav a { 
    text-decoration: none;
    color: #ffffff;
    font-weight: bold; 
}

.logo {
    position: relative;
    width: 225px;
    bottom: 23px;
}
 
main {
    padding: 40px 60px;
}

:root {
  --dourado: #cfa93f;
  --fundo: #efefef;
  --preto: #000;
  --cinza: #505050;
}

/* Formulário */
.form-container {
  text-align: center;
  display: flex;
  justify-content: center;
    padding: 25px;
}

.formulario {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 90px;
  margin-top: 35px;
  border: #000;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 110%;
  max-width: 400px;
}

.formulario label {
  font-size: 1rem;
  color: #000;
  border: #000;
}

.formulario input {
  padding: 12px;
  border-radius: 8px;
  background: white;
  font-size: 1rem;
  border: #000;
  border-style: ridge;
}

.formulario button {
  padding: 12px;
  background: var(--preto);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  gap: 30px;  
}

.formulario .trocar {
  color: red;
  text-decoration: underline;
  font-size: 0.9rem;
  text-align: left;
}

/* Esconde */
.hidden {
  display: none;
}

.l1{
  background-color: white;
  width: 600px;
  height: 700px;
  border-radius: 12px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
}

footer {
  background-color: #1e3a8a;
  color: white;
  padding: 2rem 0;
  text-align: center;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}