body{
background:#071826;
font-family:'DM Sans';
color:white;
}

.back-button{
position:absolute;
top:30px;
left:40px;
color:#9ec7f8;
text-decoration:none;
}

.payment-page{

display:flex;
justify-content:center;
margin-top:120px;

}

.payment-card{

background:#0d2c45;
padding:60px;
border-radius:30px;
width:600px;
text-align:center;

}

.payment-card h1{

margin-bottom:40px;

}

.proceed-btn{

padding:18px;
width:100%;
border:none;
border-radius:15px;
background:#00b6ff;
color:white;
font-size:20px;

}