body{
background:#071826;
font-family:'DM Sans';
color:white;
}

.qr-page{

display:flex;
justify-content:center;
margin-top:100px;

}

.qr-card{

background:#0d2c45;
padding:60px;
border-radius:30px;
text-align:center;
width:500px;

}

.qr-image{

width:250px;
margin:30px 0;

}

.back-button{
position:absolute;
top:30px;
left:40px;
color:#9ec7f8;
text-decoration:none;
}