<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaTrip ADM</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body>
    <!-- <div class="navbar navbar-inverse navbar-fixed-top"> -->
    <section class="navbar navbar-inverse ">
        <section class="container">
            <section class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/index-adm" class = "navbar-brand"><span class="material-symbols-outlined">
                    home
                    </span></a>

            </section>
            <section class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/adm-gestor">Pacotes</a></li>
                    <li><a href="/Faturamento">Faturamento</a></li>
                    <li><a href="/adm-user">Usuário</a></li>
                </ul>
            </section>
        </section>
    </section>

    <section class="container body-content">
        <h2>Lista de Pacotes</h2>

<p>
    <a href="/adm-gestor-novo" class="btn btn-success"> Novo</a>
</p>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>CPF</th>
        <th>Imagem</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    <tr>
        <td>Aq. São Paulo</td>
        <td>E-mail</td>
        <td>CPF</td>
        <td>
            <img alt="imagem de perfil" id="img-preview" src="img/aquariosp.png" style="max-width:100px; max-height:100px;" />
        </td>
        <td>Ativo</td>
        <td>
            <a href="/adm-gestor-edit" class="btn btn-warning"> Editar</a>
            <a href="/adm-gestor-list" class="btn btn-info"> Detalhes</a>
            <a href="/adm-gestor-del" class="btn btn-danger"> Excluir</a>
        </td>
    </tr>

</table>
        <hr />

</section>
</body>
</html>