<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body>
    <!-- section class="navbar navbar-inverse navbar-fixed-top"> -->
    <section class="navbar navbar-inverse ">
        <section class="container">
            <section class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/homedoispontozero" class = "navbar-brand"><span class="material-symbols-outlined">
                    home
                    </span></a>

            </section>
            <section class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/adm-cliente">Clientes</a></li>
                    <li><a>Quartos</a></li>
                    <li><a>Reservas</a></li>
                </ul>
            </section>
        </section>
    </section>

    <section class="container body-content">
        <h2>Alterar dados do cliente</h2>
<form action="" method="post">

    <section class="form-horizontal">
        <hr />
        <section class="form-group">
            <label for="nome" class = "control-label col-md-2">Nome</label>
            <section class="col-md-10">
                <input  class = "form-control"type="text" name="nome" id="">
            </section>
        </section>
        
        <section class="form-group">
            <label for="cep" class = "control-label col-md-2">CEP</label>
            <section class="col-md-10">
                <input  class = "form-control" type="text" name="cep" id="">            
            </section>
        </section>
        
        <section class="form-group" style="display:flex">
            <label for="" class = "control-label col-md-2">Imagem Perfil</label>
            <section class="col-md-5">
                <input  class = "form-control" type="file" name="ImagemPerfil" id="">    
            </section>
            <img id="img-preview" src="../imagem/img_login.png" style="max-width:80px; max-height:80px;"/>
        </section>
        
        <section class="form-group">
            <label for="nomeUsuario" class = "control-label col-md-2">Nome de Usuário</label>
            <section class="col-md-10">
                <input  class = "form-control"type="text" name="nomeUsuario" id="">  
            </section>
        </section>
        
        <section class="form-group">
            <label for="email" class = "control-label col-md-2">E-mail</label>
            <section class="col-md-10">
                <input  class = "form-control"type="text" name="email" id="">  
            </section>
        </section>
        
        <section class="form-group">
            <label for="senha" class = "control-label col-md-2">Senha</label>
            <section class="col-md-10">
                <input  class = "form-control" type="password" name="senha" id="">  
            </section>
        </section>
        
        <section class="form-group">
            <label for="tipo" class = "control-label col-md-2">Tipo Usuario</label>
            <section class="col-md-10">
               <select name="tipo" id=""  class = "form-control">
                    <option value="1">Comum</option>
                    <option value="2">Gerente</option>
               </select>
            </section>
        </section>
        
        <section class="form-group">
            <label for="status" class = "control-label col-md-2">Status</label>
            <section class="col-md-10">
                <select   class = "form-control" name="status" id="">
                    <option value="1">Ativo</option>
                    <option value="0">Inativo</option>
               </select>
            </section>
        </section>
    
        <section class="form-group">
            <section class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </section>
        </section>
    </section>
    </form>
    
    <section>
        <a class="btn btn-primary btn-lg" href="/adm-cliente" role="button">voltar</a>
    
    </section>
    
        <hr />
  <footer class="footer">
    <article class="container2">
      <p>&copy; 2025 Aquatrip - Todos os direitos reservados</p>
    </article>
  </footer>
  </section>
</body>
</html>