<!DOCTYPE html>
<html lang="pt-BR">
  <link rel="stylesheet" href="css/Ilha_Galápagos.css">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ilhas Galápagos </title>
    
</head>
<body> 
    <header>
        <nav>   
          <ul> 
         <li> <a href="/index">    </a></li>
          </ul>
        </nav>
        <form class="search-box" action="/index" method="get">
        <input type="search" name="q" placeholder="Digite sua busca..." required>
        <button type="submit">Buscar</button>
        </form>
        <nav>
            <ul>
                <li><a href="app.js">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <h1>Ilhas Galápagos - Aventuras Oceânicas</h1>
    <h2>4.0 <a class="Avaliação">★ ★ ★ ★</a></h2>
    <section class="carrossel">
    <article class="slide active">
      <img src="img/galapagos1.webp"  alt="Imagem1" class="img1">
    </article> 
    <article class="slide">
      <img src="img/galapagos2.jpg" alt="Imagem2" class="img2">
    </article> 
    <article class="slide">
      <img src="img/galapago3.jpg" alt="Imagem3" class="img3">
    </article>
  </section>
 
  <script src="script.js"></script>
  <h2>Informações:</h2> 
  <p>As ilhas Galápagos são um arquipélago vulcânico do Oceano Pacífico.<br>  
     Elas são consideradas um dos destinos mais procurados do mundo <br>
     para observação de vida selvagem. Essa província do Equador está <br>
     localizada a aproximadamente 1.000 km da costa do país. Suas <br> 
     terras isoladas abrigam várias espécies de plantas e animais, <br>
      muitas não encontradas em outros lugares. Charles Darwin <br> 
     visitou as ilhas em 1835. A observação das espécies de <br>
     Galápagos inspirou sua teoria da evolução.   </p>
  <section class="cards">
 
     <section class="card">
                <h3>A partir de R$259 p/ pessoa.</h3>
                <form><br>
        <label for="data">Selecione uma Data:</label>
        <input type="date" id="data" name="data">
    </form>
    <section class="hero"><br>
    <p><button type="submit">Reserve Agora</button></p> 
    </section>
  </section>
    </section>
    </main>
    <footer>
        <p>&copy; 2025 - Todos os direitos reservados.</p>
    </footer>
</body>
    