<!DOCTYPE html>
<html lang="pt-br">
  <link rel="stylesheet" href="css/home.css">
<head>
    <title>Aqua Trip</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
       
        <nav>  
        <a href=/index.ejs>
        <img href="/index.ejs" class="logo" src="img/AquaTrip.png"></a>
        
        </nav>
        <form class="search-box" action="/Ilhagalapagos" method="get">
        <input type="search" name="q" placeholder="Digite sua busca..." required>
        <button type="submit">Buscar</button>
        </form>
        <nav>
            <ul>
                <li><a href="/login"><span class="logintexto">Fazer Login</span></a></li>
            </ul>
        </nav>
    </header>
 
    <main>
 
        <section class="hero">
  <h2>Sua expedição começa aqui!</h2>
  <a href="/homedoispontozero">
  <h3>Teste</h3></a>

  <a href="/perfil">
  <h3>Teste 2</h3></a>
 
  <section class="icones-expedicao">
    <section class="icone">
      <a href="/expedicao"><img src="img/scuba.png" alt="Expedição"></a>
      <p>Expedição</p>
    </section>
    <section class="icone">
      <a class="aquario" href="/aquarios"><img src="img/peixe.png" alt="Aquários"></a>
      <a class="aquario" href="/aquarios"><p>Aquários</p></a>
    </section>
  </section>
</section>
 <section class="pesquisa">
 

        </section>
        <section class="card-principal">
            <img src="img/barco.jpg">
        <section class="divider"></section>
        <article>
            <h2>Tenha novas experiências<br>e conecte-se com os mares.</h2>
        </article>
    </section>
        <h1>Em destaque:</h1>
        <section class="cards">
            <section class="card">
                <a href="ilhaacores">
                <img src="img/açores.jpg"></a>
                <p> Ilhas Açores <br>
                    a partir de R$248 p/ pessoa.
                </p>
            </section>

            <section class="card">
                <a href="monteray">
                <img src="img/monterey.JPG"></a>
            <p>Monterey Bay Aquarium <br>
                a partir de R$223 p/ pessoa.
            </p>
            </section>

            <section class="card">
            <a href="cenotes">
            <img src="img/cenote.jpg"></a>
             <p>Cenotes e Lagoas <br>
                a partir de R$145 p/ pessoa.
            </p>
            </section>
            </section>
        </section>

        <h1>Experiências no Brasil:</h1>

        <section class="cards">
            <section class="card"><a href="aquariosp">
                <img src="img/aquariosp.webp">
                <p>Aquário de São Paulo <br>
                a partir de R$120 p/ pessoa.
                </p></a>
            </section>

            <section class="card">
            <img src="img/Paraty.jpg">
            <p>Paraty (RJ) – passeio de snorkel <br>
            a partir de R$200 a R$300 p/ pessoa.
            </p>
            </section>

             <section class="card">
            
             <img src="img/Aquario Santos.jpg" >
             <p>Aquário Municipal de Santos <br>
            a partir de R$10 p/ pessoa.
            </p>
            </section>

            <section class="card">
            <img src="img/Bonito MS.webp">
            <p>Bonito (MS) – flutuação no Rio Sucuri <br>
            a partir de R$269 p/ pessoa.
            </p>
            </section>
        </section>
    </main>
 
    <footer>
        <p>&copy; 2025 - Todos os direitos reservados.</p>
    </footer>
 
</body>
</html>
