<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaTrip</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
 
   
    <header>
        <h1>Logo</h1>
        <form class="search-box" action="/ilhagalapagos" method="get">
        <input type="search" name="q" placeholder="Digite sua busca..." required>
        <button type="submit">Buscar</button>
        </form>
        <nav>
            <ul>
                <li><a href="app.js">Login</a></li>
            </ul>
        </nav>
    </header>
 
    <main>
 
        <section class="hero">
  <h2>Sua expedição começa aqui!</h2>
 
  <section class="icones-expedicao">
    <section class="icone">
      <img src="img/scuba.png" alt="Expedição">
      <p>Expedição</p>
    </section>
    <section class="icone">
      <img src="img/peixe.png" alt="Aquático">
      <p>Aquário</p>
    </section>
    <section class="icone">
      <img src="img/passeio.png" alt="Passeio" style="width:60px; height:50px;">
      <p>Passeio</p>
    </section>
  </section>
</section>
 
 
        </section>
        <section class="card-principal">
        <figure>
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/dc/0c/36/caption.jpg?w=2400&h=-1&s=1" alt="Pessoas no barco apreciando a paisagem">
        </figure>
        <section class="divider"></section>
        <article>
            <h2>Tenha novas experiências<br>e conecte-se com os mares.</h2>
        </article>
    </section>
        <h1>Em destaque:</h1>
        <section class="cards">
            <section class="card">
               
                <h3 class="caixa"><a class="nome" href="/ilhagalapagos">Ilhas Galápagos</a></h3>
                <img src="img/galapagos.jpg"
                >
                 <p>A partir de R$238 p/ pessoa.</p>
               
            </section>
            <section class="card">
                <h3>Ilhas Açores</h3>
                <img src="img/açores.jpg"
                >
                <p>A partir de R$259 p/ pessoa.</p>
            </section>
            <section class="card">
                <h3>Monterey Bay Aquarium</h3>
                <img src="img/monterey.JPG"
                >
                <p>A partir de R$223 p/ pessoa.</p>
            </section>
            <section class="card">
                <h3>Cenotes e Lagoas</h3>
                <img src="img/cenote.jpg"
                >
                <p>A partir de R$28-224 p/ pessoa.</p>
            </section>
            <section class="card">
                <h3>Emerald Cove</h3>
                <img src="img/emerald cove.png"
                >
                <p>A partir de R$621 p/ pessoa.</p>
            </section>
            <section class="card">
                <h3>Cozumel</h3>
                <img src="img/cozumel.avif"
                >
                <p>A partir de R$335 p/ pessoa.</p>
            </section>
        </section>
        <h1>Experiências no Brasil:</h1>
        <section class="cards">
            <section class="card">
                <h3>Aquário de São Paulo</h3>
                <img src="img/aquariosp.webp"
                >
                <p>A partir de R$120 p/ pessoa.</p>
            </section>
            <section class="card">
                <h3>Caiaque com trilha + cachoeiras</h3>
                <img src="img/cachoeira.jpeg"
                >
                <p>A partir de R$210 p/ pessoa.</p>
            </section>
             <section class="card">
                <h3>Caiaque expedição oceânica</h3>
                <img src="img/oceanocaiaque.jpeg"
                >
                <p>A partir de R$450 p/ pessoa.</p>
            </section>
            <section class="card">
                <h3>Caiaque transparente</h3>
                <img src="img/caiaquetransparente.avif"
                >
                <p>A partir de R$90-100 p/ pessoa.</p>
            </section>
            <section class="card">
                <h3>Snorkeling em água doce</h3>
                <img src="img/snorkeling.png"
                >
                <p>A partir de R$1.020 p/ pessoa.</p>
            </section>
        </section>
        <h1>Sua próxima aventura te espera</h1><br>
        <section class="cards2">
            <section class="card2">
                <h3>Key West</h3>
                <img src="img/keywest.jpg"
                >
            </section>
            <section class="card2">
                <h3>Farjado</h3>
                <img src="img/farjado.webp"
                >
            </section>
            <section class="card2">
                <h3>Ibiza</h3>
                <img src="img/ibiza.jpg"
                >
            </section>
        </section>
    </main>
 
    <footer>
        <p>&copy; 2025 - Todos os direitos reservados.</p>
    </footer>
 
</body>
</html>
