<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaTrip</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
 
   
    <header>
        
        <img src="img/AquaTrip.png">
        </form>
        <nav>
            <ul>
                <li><a href="app.js">Login</a></li>
            </ul>
        </nav>
    </header>
 
    <main>
 
        <section class="hero">
  <h2>Sua expedição começa aqui!</h2>
 
  <section class="icones-expedicao">
    <section class="icone">
      <a href="expedicao.ejs"><img src="img/scuba.png" alt="Expedição"></a>
      <p>Expedição</p>
    </section>
    <section class="icone">
      <img src="img/peixe.png" alt="Aquários">
      <p>Aquário</p>
    </section>
    <section class="icone">
      <img src="img/passeio.png" alt="Passeio" style="width:60px; height:50px;">
      <p>Passeio</p>
    </section>
  </section>
</section>
 <section class="pesquisa">
 <form class="search-box" action="/Ilhagalapagos" method="get">
        <input type="search" name="q" placeholder="Digite sua busca..." required>
        <button type="submit">Buscar</button></section>

        </section>
        <section class="card-principal">
            <img src="img/barco.jpg">
        <section class="divider"></section>
        <article>
            <h2>Tenha novas experiências<br>e conecte-se com os mares.</h2>
        </article>
    </section>
        <h1>Em destaque:</h1>
        <section class="cards">
            <section class="card">
               
                <a href="/ilhagalapagos">
                    <img src="img/ilhas-galapagos.jpg" alt="Ilhas Galápagos">
                </a>
                <a><h3 class="caixa"><a class="nome" href="/ilhagalapagos">Ilhas Galápagos</a></h3>
                 <p>A partir de R$238 p/ pessoa.</p>
               
            </section>
            <section class="card">
                <img src="img/açores.jpg">
                   <h3>Ilhas Açores</h3>
                <p>A partir de R$259 p/ pessoa.</p>
            </section>

            <section class="card">
            <img src="img/monterey.JPG">
            <h3>Monterey Bay Aquarium</h3>
            <p>A partir de R$223 p/ pessoa.</p>
            </section>

            <section class="card">
            <img src="img/cenote.jpg">
             <h3>Cenotes e Lagoas</h3>
             <p>A partir de R$28-224 p/ pessoa.</p>
            </section>

            <section class="card">
                <img src="img/emerald cove.png">
                <h3>Emerald Cove</h3>
                <p>A partir de R$621 p/ pessoa.</p>
            </section>

            <section class="card">
                <img src="img/cozumel.jpg">
                <h3>Cozumel</h3>
                <p>A partir de R$335 p/ pessoa.</p>
            </section>
        </section>

        <h1>Experiências no Brasil:</h1>

        <section class="cards">
            <section class="card">
                <img src="img/aquariosp.webp">
                <h3>Aquário de São Paulo</h3>
                <p>A partir de R$120 p/ pessoa.</p>
            </section>

            <section class="card">
            <img src="img/Paraty.jpg">
            <h3>Paraty (RJ) – passeio de snorkel</h3>
            <p>A partir de R$200 e R$300 p/ pessoa.</p>
            </section>

             <section class="card">
            
             <img src="img/Aquario Santos.jpg" >
             <h3>Aquário Municipal de Santos</h3>
             <p>A partir de R$10 p/ pessoa.</p>
            </section>

            <section class="card">
            <img src="img/Bonito MS.webp">
            <h3>Bonito (MS) – flutuação no Rio Sucuri</h3>
            <p>A partir de R$269 p/ pessoa.</p>
            </section>

            <section class="card">
            <img src="img/ilha arvoredo.jpg">
            <h3>Ilha do Arvoredo (SC)</h3>
            <p>A partir de R$285 p/ pessoa.</p>
            </section>
        </section>

        <h1>Sua próxima aventura te espera</h1><br>
        <section class="cards2">
            <section class="card2">
                    <img src="img/keywest.jpg">
            
                <h1>Key West</h1>
            
            </section>
          
            <section class="card2">
            <img src="img/farjado.webp">
            <h1>Farjado</h1>
           </section>
       
            <section class="card2">
            <img src="img/ibiza.jpg">
            <h1>Ibiza</h3></section>
        </section>
    </main>
 
    <footer>
        <p>&copy; 2025 - Todos os direitos reservados.</p>
    </footer>
 
</body>
</html>
