<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aqua Trip - Ingressos</title>
  <link rel="stylesheet" href="css/ingressos.css">
</head>
<body>
  <header>
    <nav role="navigation">
    <section id="menuToggle">
                  <input type="checkbox">
                  <span></span>
                  <span></span>
                  <span></span>
                          <ul id="menu">
                         <a href="homedoispontozero"><li>Home</li></a>
                         <a href="#"><li>Info</li></a>
                         <a href="#"><li>Produtos</li></a>
                         <a href="#"><li>Sobre</li></a>
                         <a href="contato.ejs"><li>Contato</li></a>
                         <a href="http://www.w3schools.com"><li>Mostrar Mais</li></a>
                  </ul>
           </section>
        </nav>
    <h1 class="logo">Aqua Trip</h1>
  </header>

  <main>
    <a href="/homedoispontozero" class="voltar">←</a>
    <h2>Seus ingressos ativos</h2>

    <section class="ingresso-card">
      <button class="botao-topo">AquariodeSãoPaulo-ingresso ⬇</button>

      <section class="cartao">
        <h3 class="cartao-logo">🕶️ Aqua Trip</h3>
        <p><strong>Data:</strong> 03/12/2028</p>
        <p><strong>Horário:</strong> 10AM</p>
        <p><strong>Aquário de São Paulo</strong></p>
        <p><strong>Vítor M</strong></p>
        <p><strong>Ingresso:</strong> 25122025</p>
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=80x80&data=Ingresso25122025" alt="QR Code" class="qr">
      </section>

      <button class="botao-bottom">AquaRio-ingresso</button>
    </section>
  </main>
  <footer class="footer">
    <article class="container">
      <p>&copy; 2025 Aquatrip - Todos os direitos reservados</p>
    </article>
  </footer>
  <script src="js/menu.js"></script>
</body>
</html>