<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <script src="js/scriptlogin.js"></script>
    <title></title>
</head>
<body>
    <header>
        <nav>  
        <a href=/homedoispontozero>
        <img href="/homedoispontozero" class="logo" src="img/AquaTrip.png"></a>
        </nav>
    </header>

     <main class="form-container">
    
    <form class="formulario" id="login-form">
      <label for="login-email">Email</label>
      <input type="email" id="login-email" placeholder="Digite seu email" required />

      <label for="login-senha">Senha</label>
      <input type="password" id="login-senha" placeholder="Digite sua senha" required />

      <button type="submit">Entrar</button>

      <a href="#" class="trocar" onclick="mostrarCadastro()">Crie sua conta</a>
    </form>

    <form class="formulario hidden" id="cadastro-form">
      <label for="cadastro-email">Email</label>
      <input type="email" id="cadastro-email" placeholder="Digite seu email" required />

      <label for="cadastro-senha">Senha</label>
      <input type="password" id="cadastro-senha" placeholder="Crie uma senha" required />

      <label for="cadastro-confirmar">Confirme a senha</label>
      <input type="password" id="cadastro-confirmar" placeholder="Repita a senha" required />
      <label for="tipo" class="label-select">Tipo</label>

    <select id="tipo" name="tipo" class="select-tipo">
      <option value="usuario">Usuário</option>
      <option value="adm">ADM</option>
      <option value="gestor">Gestor</option>
    </select>

      <button type="submit">Entrar</button>

      <a href="#" class="trocar" onclick="mostrarLogin()">Já tenho uma conta</a>
    </form>
  </main>

    <footer class="footer">
    <article class="container">
      <p>&copy; 2025 Aquatrip - Todos os direitos reservados</p>
    </article>
  </footer>

</body>
</html>